# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

##################################
# IDEA Rider
##################################
.idea
.idea.*

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

##################################
# Other
##################################

*.user
*.sln.docstates
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.DotSettings
*.rar
*.zip
*.7z
_ReSharper*/
.vs/
packages/
[Ll]ogs/
!*[Ll]og/

.scannerwork
yarn.lock
