$max-iw-width: 400px;
$max-iw-height: 150px;

.custom-gm-iw.gm-style-iw-a {
    .gm-style-iw {
        display: block;
        max-height: $max-iw-height !important;

        .gm-style-iw-d {
            max-height: $max-iw-height !important;
            overflow: hidden !important;
        }
    }

    .gm-style-iw-c {
        padding: 0;
        border-radius: 0;

        button {
            display: none !important;
        }
    }
    .gm-style-iw-t::after {
        display: none;
    }
}
