.project-header {
    .text-link {
        cursor: pointer;
    }
    .sort-type-container {
        display: inline-block;
    }
    .sort-type {
        font-size: large;
    }
    .sort-desc {
        font-size: smaller;
    }
}
