@import 'assets/css/mixin';

.icon-skill-verify {
  font-size: 22px;
  color: $brand-color;
}

.icon-skill-pending {
  font-size: 22px;
  color: $warning;
}

.icon-skill-reject {
  font-size: 22px;
  color: $error;
}